.container {
    width: 100%;
   /* background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%); */
   /* background-image: linear-gradient(to top, #d5dee7 0%, #ffafbd 0%, #c9ffbf 100%); */
   background-image: url('/assets/images/bg.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   width: 100%;
   position: relative;
   padding-top: 4.5rem;

   width: 100%;
   padding: 0 1rem; /* ছোট padding */
   overflow: hidden;
  
}
.section {
   padding-block: 5em;
   
}

 .top-header {
    text-align: center;
    margin-bottom: 6em;  
 }
 .top-header h2 {
    font-weight: 600;
    color: rgb(68, 68, 68);
    margin-bottom: 15px;
 }

 /* section global css--------- */
