.container {
    width: 100%;
    /* background-color: #ffffff; */
}


.section {
    padding-inline: 5em;
 }
 .top-header {
    text-align: center;
    margin-bottom: 2em;  
 }
 .top-header h1 {
    font-weight: 600;
    color: rgb(68, 68, 68);
    margin-bottom: 15px;
 }

 /* section global css--------- */
